@import '~ngx-toastr/toastr';

.toast {
  visibility: visible;
  min-width: 250px !important;
  text-align: center;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.or-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 4px;
}
.or-separator::before{
  content: "";
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.802);
  margin-right: 13px;
}
.or-separator::after{
  content: "";
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.802);
  margin-left: 13px;
}
ion-header{
      margin-top: 30px;
      margin-bottom: 5%;
  }
  ion-title{
        text-align: left;
        margin-left: 15px;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        font-size: 26px;
        margin-top: 5px;
        color: #0A66C2;
        font-weight: 940;
    }
    .in {
          background-color: #0A66C2;
          color: #fff;
          padding: 3px;
          border-radius: 20%;
          font-size: 26px;
          margin-left: 4px;
          font-weight: 800;
      }
      .join {
            float: right;
            margin-right: 15px;
            padding: 7px;
            font-family: system-ui;
          }
          .log {
                border: 1px solid black;
                border-radius: 25px;
                font-size: 18px;
                margin-top: 14px;
                img {
                    margin-right: 2px;
                }
            }

.sign-up-content {
  text-align: center;
  --padding-bottom: 16px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 16px;

  .auth-title {
    font-weight: bold;
    margin-bottom: 64px;
    letter-spacing: 0.6px;
  }

  .social-auth-options {
    .options-divider {
          text-align: center;
    }
  }

  .inputs-list {
    .input-item {
      --padding-start: 5px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      margin: 7px 20px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        font-size: 16px;
        padding-inline-end: 8px;
      }
    }
  }

  .sign-up-btn {
    margin: 16px 0px;
  }

  .sign-in-btn-wrapper {
    justify-content: flex-end;
    align-items: center;

    .sign-in-btn {
      --padding-end: 0px;
    }
  }
}
.eye {
  margin-top: 30px;
}
