<app-tabs></app-tabs>
    <ion-content class="ion-no-padding" >
      <div class="heading ion-padding">
        <ion-button class="ion-no-padding" size="small" (click)="navigateTo('timeline')" color="dark" fill="clear" shape="round">
          <ion-icon slot="icon-only" size="large" name="close-outline"></ion-icon>
        </ion-button>
        <ion-text>Share Post</ion-text>
        <ion-router-link class="post" color="secondary">Post</ion-router-link>
      </div>
      <div class="item-divider"></div>
      <ion-grid class="ion-padding">
        <ion-row class="ion-justify-content-start">
          <ion-col size="auto">
            <!-- {{profileImage}} -->
            <!-- <img *ngIf="profileImage && currentUser" class="propic" src="{{profileImage}}" /> -->
            <ion-avatar>
              <ion-img [src]="profileImage"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <div>
              <ion-text *ngIf="currentUser">{{currentUser.name}}</ion-text>
            </div>
            <ion-button class="ion-no-padding" size="small" shape="round" fill="outline" color="medium">
              <ion-icon color="dark" name="globe"></ion-icon>
              <ion-text class="view-status">Anyone</ion-text>
              <ion-icon color="dark" name="caret-down-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <form class="ion-padding">
        <ion-textarea
          id="theDiv"
          placeholder="What do you want to talk about?"
          type="text"
          ngModel
          name="body"
          required
        >
        <div class="col form-group" *ngIf="isImageSaved">
          <div class="img-space">
            <ng-container>
              <img [src]="selectedPhoto"/>
            </ng-container>
          </div>
          <p *ngIf="imageError" class="error">{{imageError}}</p>
        </div>
        </ion-textarea>
        <ion-button fill="clear" id='theButton'>Add hashtag</ion-button>
        <div class="ion-no-padding">
          <div>
            <ion-button size="small" shape="round" color="dark" fill="clear">
              <i class="fa-solid fa-camera fa-2x" (click)="f.click()"></i>
            </ion-button>
            <input class="ion-hide" #f type="file" (change)="selectImages($event)" id="file-input"
              accept="image/png, image/jpeg">


            <ion-button size="small" shape="round" color="dark" fill="clear">
              <i class="fa-solid fa-at fa-2x"></i>
            </ion-button>
            <ion-button size="small" shape="round" color="dark" fill="clear">
              <i class="fa-solid fa-hashtag fa-2x" ></i>
            </ion-button>
          </div>
          <!-- <ion-button type="submit" class="ion-margin">{{ postId ? 'Edit' : 'Post' }}</ion-button> -->
        </div>
      </form>
</ion-content>