<!-- <ion-content class="pt-home-slider">
  <ion-grid class="skip-slider-section">
    <ion-row>
      <ion-col class="ion-text-right">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides class="swiper-no-swiping">
    <ion-slide>
      <ion-grid class="slider-grid">

        <ion-row class="home-slide-des-row ">
          <ion-col class="ion-text-center" size="12">
              <div class="slide-container">
              <img src="../../assets/ica-slidebox-img-1.png" class="slide-image" />
              <h2 class="slide-title">
                Welcome to
                <b>Checkedin</b>
              </h2>
              <p>
                The
                <b>job searching app</b> with latest notification.
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center" size="6" offset="3">
            <ion-button size="large" (click)="navigateTo()" fill="outline" class="default-button next-button">
              <span>
                Continue
                <i class="fa fa-arrow-circle-right arrow"></i>
              </span>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content> -->

<ion-content fullscreen class="ion-padding">
  <ion-slides>
    <ion-slide class="slid">
      <div class="slide">
        <img src="../../assets/ica-slidebox-img-1.png" class="slide-image" />
        <h2 class="slide-title">
          Welcome to
          <b>Checkedin</b>
        </h2>
        <p>
          The
          <b>job searching app</b> with latest notification.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slid">
      <div class="slide">
        <img src="../../assets/ica-slidebox-img-3.png" />
        <h2 class="slide-title">
          Mission
        </h2>
        <p>
          The mission of LinkedIn is simple: connect the world’s professionals to make them more productive and successful.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slid">
      <img src="../../assets/ica-slidebox-img-4.png" />
      <h2>Ready to Use?</h2>
      <ion-button size="large" (click)="navigateTo()" fill="outline" class="default-button next-button">
        <span>
          Continue
          <ion-icon name="arrow-dropdown-circle"></ion-icon>
        </span>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>