
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img *ngIf="profileImage" src="{{profileImage}}">
      <h1 class="fw500" *ngIf="currentUser">{{currentUser.name}}</h1>
      <h2 color="light" margin-bottom>Actor</h2>
      <ion-button icon-left color="secondary" type="file" (click)="selectImage($event)">
        <ion-icon name="image"></ion-icon> 
        {{profileImage ? 'update' : 'Add profile'}}
      </ion-button><br>
      <ion-button icon-right color="danger" (click)="logout()">Logout</ion-button>
      <!-- {{currentUser | json}} -->
    </ion-card-content>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Form</ion-label>
            </ion-list-header>

            <ion-item *ngIf="currentUser">
              <ion-label color="dark" position="stacked">Full Name:</ion-label>
              {{currentUser.name}}
            </ion-item>
    
            <ion-item *ngIf="currentUser">
              <ion-label color="dark" position="stacked">Email:</ion-label>
              {{currentUser.email}}
            </ion-item>
            <ion-item *ngIf="currentUser">
              <ion-label color="dark" position="stacked">Mobile:</ion-label>
              {{currentUser.phone}}
            </ion-item>
          <form [formGroup]="profileForm">
            <ion-item>
              <ion-label color="dark" position="stacked" >Address:</ion-label>
              <ion-input inputmode="text" placeholder="Address" formControlName="address"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">City</ion-label>
              <ion-select formControlName="city">
                <ion-select-option *ngFor="let city of citys">{{city.name}}</ion-select-option>
              </ion-select>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" >State</ion-label>
              <ion-select formControlName="state">
                <ion-select-option *ngFor="let city of citys">{{city.state}}</ion-select-option>
              </ion-select>
            </ion-item>
          <!-- </ion-list> -->

          <!-- <ion-list> -->
            <ion-radio-group formControlName="userType">
              <ion-list-header color="light">
                <ion-label class="fw700" >User Type</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Customer</ion-label>
                <ion-radio name="customer" slot="start" value="customer"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label color="primary">Owner</ion-label>
                <ion-radio name="agent" slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-label class="text-1x">Agree to update</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </form>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Update</ion-button>
  </ion-card>
  
  <div padding>
    <ion-text color="dark" no-margin>

    </ion-text>
  </div>
</ion-content>